<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Libros App</h1>
      <p class="lead text-muted">Una aplicacion donde encuentras todos los libros!!</p>
      <p>
        <a href="/create-editorials" class="btn btn-secondary my-2">Crear nuevo editorial</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {{#if hasEditorials}}

        {{#each editorials as |editorial|}}

          <div class="card col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{editorial.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{editorial.phone}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{editorial.country}}</h6>
              <form class="form-inline" id="form-delete" action="/delete-editorials" method="post">
                <input type="hidden" name="editorialsId" value="{{editorial.id}}" />
                <a
                href="/edit-editorials/{{editorial.id}}?edit=true"
                class="btn btn-warning"
                >Editar</a>

                <button type="submit" id="delete-editorials" class="btn btn-danger">Eliminar</button>

              </form>
            </div>
          </div>

        {{/each}}
      {{else}}

        <h1>no hay editoriales creados</h1>

      {{/if}}

    </div>
  </div>
</div>