<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Libros App</h1>
      <p class="lead text-muted">Una aplicacion donde encuentras todos los libros!!</p>
      <p>
        <a href="/create-authors" class="btn btn-secondary my-2">Crear nuevo autor</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      {{#if hasAuthors}}

        {{#each authors as |author|}}

          <div class="card col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{author.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{author.mail}}</h6>
              <form class="form-inline" id="form-delete" action="/delete-authors" method="post">
                <input type="hidden" name="authorsId" value="{{author.id}}" />
                <a
                href="/edit-authors/{{author.id}}?edit=true"
                class="btn btn-warning"
                >Editar</a>

                <button type="submit" id="delete-authors" class="btn btn-danger">Eliminar</button>

              </form>
            </div>
          </div>

        {{/each}}
      {{else}}

        <h1>no hay autores creados</h1>

      {{/if}}

    </div>
  </div>
</div>